* {
    -webkit-touch-callout: none;  
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-style: none;
    user-select: none;
    outline: none;
}

html {
    height: 100%;
    margin: auto;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(336deg, rgba(121, 121, 121, 0.06) 0%, rgba(121, 121, 121, 0.06) 82%,rgba(125, 125, 125, 0.06) 82%, rgba(125, 125, 125, 0.06) 100%),
                linear-gradient(54deg, rgba(15, 15, 15, 0.01) 0%, rgba(15, 15, 15, 0.01) 57%,rgba(204, 204, 204, 0.01) 57%, rgba(204, 204, 204, 0.01) 100%),
                linear-gradient(174deg, rgba(151, 151, 151, 0.02) 0%, rgba(151, 151, 151, 0.02) 87%,rgba(226, 226, 226, 0.02) 87%, rgba(226, 226, 226, 0.02) 100%),
                linear-gradient(224deg, rgba(4, 4, 4, 0.02) 0%, rgba(4, 4, 4, 0.02) 15%,rgba(232, 232, 232, 0.02) 15%, rgba(232, 232, 232, 0.02) 100%),
                linear-gradient(215deg, rgba(5, 5, 5, 0.05) 0%, rgba(5, 5, 5, 0.05) 32%,rgba(97, 97, 97, 0.05) 32%, rgba(97, 97, 97, 0.05) 100%),
                linear-gradient(317deg, rgba(22, 22, 22, 0.06) 0%, rgba(22, 22, 22, 0.06) 56%,rgba(170, 170, 170, 0.06) 56%, rgba(170, 170, 170, 0.06) 100%),
                linear-gradient(15deg, rgba(172, 172, 172, 0.1) 0%, rgba(172, 172, 172, 0.1) 55%,rgba(157, 157, 157, 0.1) 55%, rgba(157, 157, 157, 0.1) 100%),
                linear-gradient(241deg, rgba(54, 54, 54, 0.06) 0%, rgba(54, 54, 54, 0.06) 34%,rgba(232, 232, 232, 0.06) 34%, rgba(232, 232, 232, 0.06) 100%),
                linear-gradient(222deg, rgba(129, 129, 129, 0.08) 0%, rgba(129, 129, 129, 0.08) 91%,rgba(169, 169, 169, 0.08) 91%, rgba(169, 169, 169, 0.08) 100%),
                linear-gradient(90deg, #080817,#1f2035);
    background-repeat: no-repeat;
    background-color: #131420;
    box-shadow: 0px 15px 0px #FFFFFF05, 0px 12px 0px #FFFFFF05, 0px 9px 0px #FFFFFF05, 0px 5px 0px #FFFFFF11;
}

div#principal{
    padding-top: 65px;
    min-height: calc(100% - 65px);
    width: 100%;
}

div#barra_menu{   
    height: 65px;
    background-color: #1f2035;    
    position: fixed;
    top: 0;
    left: 0;
    min-width: 300px;
    width: 100%;
    z-index: 99999;
}

.content {
    width: 100%;
}

div#botoes {
    height: 100%;
    margin: 0px auto 0px auto;
    min-width: 300px;
    max-width: 800px;
    display: block;
}

div#texto {   
    display: fixed;
}

.botao {
    border-radius: 20px;
    border-style: none;
    position: relative;
    background-color: white;    
    padding: 0px 10px 3px 12px;
    height: 20px;
}

.botoes .botao:read-only{
    background-color: #aaaaaa;
}

.login {
    display: inline-block;
    height: 40%;
    width: auto;
    left: 310px;
    top: 22%;
    color: #303150;
    font-size: 15px !important;
    font-weight: bold;
}

.login > i {
    bottom: -2px;
    position: relative;
}

.login > span {
    bottom: 1px;
    max-width: 70px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}

input.busca {    
    height: 40%;
    width: 190px;    
    left: 310px;
    top: 15%;  
    padding: 0px 15px 0px 15px;
}

span.botao_busca {
    font-size: 22px;
    color: #cccccc;
    opacity: 0;
    position: relative;
    left: 280px;
    padding: 1px;
    top: 24%;
    background: #ffffff;
    border-radius: 10px;
    transition: opacity 0.5s, background 0.5s;
}

span.botao_busca:hover {
    color: #aaaaaa;
    background-color: #eeeeee;
}

.login {
    cursor: pointer;
    transition: background 0.5s;
}

.login:hover {
    background-color: #eeeeee;
}

input.logo {    
    background-color: rgba(0,0,0,0);
    height: 50%;
    width: 220px;
    top: 25%;    
    font-family: 'Kaushan Script', cursive;
    font-size: 38px;
    color: #FDFEF9;
    cursor: pointer;
}

div.base {
    height:100%;
    background-color: #1f2035;
    border-radius: 20px;
    margin: 25px auto 0 auto;
    min-width: 300px;
    max-width: 800px;
    display: block;
    padding: 20px;
    box-shadow: 0px 0px 15px -5px black;
    min-height: 120px;
    transition: margin 0.5s, padding 0.25s, background-color 0.25s;
}

div.base:hover {
    margin-top: 20px;
    padding: 15px 30px 30px 30px;
    background-color: hsla(237, 26%, 20%, 1);
}

.base_link {
    cursor: pointer;
}

.basep {
    min-height: 0px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

div.imagem {
    margin: 25px auto 0 auto;
    max-width: 800px;
    text-align: -webkit-center;
}

img.imagem {
    max-height: 300px;
    margin: 25px auto 0 auto;
}

h1.title {
    padding-bottom: 20px;
    margin: auto;
    color : white;
}

h2.title {
    padding: 30px 0px 15px 25px;
    margin: auto;
    color : white;
}

h1.center {
    text-align: center;
    color: #777777; 
    padding: 0px;
    font-weight: 600;
    font-size: 18px;
}

p.descr {
    font-size: 1.1em;
    padding-left : 25px;
    padding-right: 25px;
    margin-right: 20px;
    margin: auto;
    color : #777777;
    text-align: justify;
}

p.left {
    padding-left : 35px;
}

div.botoes {
    padding-left: 20px;
    width: 100%;
    min-height: 30px;
    display: flex;
    margin-bottom: 5px;
}

.entrar {
    background: #00000022;
    padding: 5px 15px;
    border-radius: 10px;
    color: #777777;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.entrar:hover {
    text-decoration: underline;
}

.site {
    padding: 5px;
    background-color: white;
    height: auto;
    min-width: 100px;
}

label {
    min-width: 115px;
    color: white;
    padding-top: 3px;
}

div.course01 {
    width: 80%;
    display: inline-block;
}

div.course02 {
    width: 15%;
    display: grid;
    text-align-last: end;
    float:right;
}

div.course03 {
    display: grid;
    text-align-last: end;
    padding: 20px 0px 0px 25px;
}

.titleCourse {
    margin: 0px 0px 20px 0px;
    color: white;
}

.valCourse {
    color: white;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 10px;  
}

.defCourse {
    color: #777777;
    font-weight: 600;
    font-size: 18px;
}

.defCourse:hover {
    text-decoration: underline;
    cursor: pointer;
}

.descrCourse {
    color: #777777;
    padding-left : 25px;
    margin: auto;
    text-align: justify;
    margin-right: 20px;
    margin-bottom: 10px;
}
.select {
    text-align: left;
    color: white;        
    padding-left: 30px;
}

.search {
    margin: 20px 14px 0px 0;
    width: 100%;
}

.search1 {
    width: 98%;
}

.inline {
    display: flex;
}

